div.modal.terms
    div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ducimus a cumque dicta consectetur aut, provident repellat iusto nulla veniam debitis cupiditate dolor culpa natus ratione quod sint esse! Facilis.

    div.button-div
                button(class="admin-btn")
                    i(class="fa fa-arrow-circle-o-left")
                    span  Admin!     